# Database Connection (MongoDB Atlas)
MONGODB_URI="mongodb+srv://username:password@cluster0.mongodb.net/yaathh_birthday?retryWrites=true&w=majority"
MONGODB_DB="yaathh_birthday"

# Cloudinary Storage for Photos and Music Track Uploads
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
CLOUDINARY_UPLOAD_PRESET="your_upload_preset"
